---
http_interactions:
- request:
    method: post
    uri: https://demo.spreecommerce.org/api/v2/storefront/cart
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"390cfe383bace057c9f6689d3e2cdc03"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"13442","type":"cart","attributes":{"number":"R168700706","item_total":"0.0","total":"0.0","ship_total":"0.0","adjustment_total":"0.0","created_at":"2022-03-27T00:33:02.013-05:00","updated_at":"2022-03-27T00:33:02.013-05:00","completed_at":null,"included_tax_total":"0.0","additional_tax_total":"0.0","display_additional_tax_total":"$0.00","display_included_tax_total":"$0.00","tax_total":"0.0","currency":"USD","state":"cart","token":"DZGNyltYC7Jl5wyTVtpONQ1648359182006","email":null,"display_item_total":"$0.00","display_ship_total":"$0.00","display_adjustment_total":"$0.00","display_tax_total":"$0.00","promo_total":"0.0","display_promo_total":"$0.00","item_count":0,"special_instructions":null,"display_total":"$0.00","pre_tax_item_amount":"0.0","display_pre_tax_item_amount":"$0.00","pre_tax_total":"0.0","display_pre_tax_total":"$0.00","shipment_state":null,"payment_state":null},"relationships":{"line_items":{"data":[]},"variants":{"data":[]},"promotions":{"data":[]},"payments":{"data":[]},"shipments":{"data":[]},"user":{"data":null},"billing_address":{"data":null},"shipping_address":{"data":null}}}}'
  recorded_at: Sun, 27 Mar 2022 05:33:02 GMT
recorded_with: VCR 6.1.0
